.clear {
    clear: both;
}

.global {
    font-family: sans-serif;
    width: 140px;
    margin: 50px auto;
}

.top-menu {
    height: 25px;
    line-height: 25px;
    cursor: pointer;
    /*outline: 1px solid red;*/
}

.text-arrow {
    margin-right: 20px;
    color: #353535;
    font-size: 20px;
    float: right;
}

.icon-arrow {
    background-image: url(img/arrow_down.png);
    margin-top: 4px;
    width: 16px;
    height: 16px;
    float: left;
    margin-left: 13px;
}

.ul-wrapper {
    width: 200px;
    display: none;
    /*outline: 1px solid darkcyan;*/
}

.ul-wrapper ul li {
    padding: 10px;
}

.ul-wrapper ul li label {
    cursor: pointer;
    padding-left: 5px;
    float: left;
    display: block;
    margin-top: 4px;
}

.ul-wrapper ul li input {
    cursor: pointer;
    float: left;
    display: block;
    width: 17px;
    height: 17px;
}

.add_item {
    display: block;
    cursor: pointer;
    background-color: #b1f7b6;
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    margin-left: 15px;
}

.hide_item {
    display: block;
    cursor: pointer;
    background-color: #F67D5C;
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    margin-left: 15px;
}